{
    "openapi": "3.1.0",
    "info": {
        "title": "Laravel",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://menzili-utx2r.sevalla.app/api"
        }
    ],
    "tags": [
        {
            "name": "Member Listings"
        }
    ],
    "paths": {
        "/members/listings": {
            "get": {
                "operationId": "listings.index",
                "tags": [
                    "Member Listings"
                ],
                "parameters": [
                    {
                        "name": "type_id",
                        "in": "query",
                        "description": "Property type id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wilaya_id",
                        "in": "query",
                        "description": "Filter by wilaya",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_ids[]",
                        "in": "query",
                        "description": "Filter by categories",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "number_rooms",
                        "in": "query",
                        "description": "Minimum number of rooms",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_ready",
                        "in": "query",
                        "description": "Property ready to move in",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is_negotiable",
                        "in": "query",
                        "description": "Price negotiable",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Pagination size",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 4
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PaginateMyListing"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "listings.store",
                "tags": [
                    "Member Listings"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MyListingResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/listings/{listing}": {
            "get": {
                "operationId": "listings.show",
                "tags": [
                    "Member Listings"
                ],
                "parameters": [
                    {
                        "name": "listing",
                        "in": "path",
                        "required": true,
                        "description": "The listing ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MyListingResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "listings.update",
                "tags": [
                    "Member Listings"
                ],
                "parameters": [
                    {
                        "name": "listing",
                        "in": "path",
                        "required": true,
                        "description": "The listing ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MyListingResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "listings.destroy",
                "tags": [
                    "Member Listings"
                ],
                "parameters": [
                    {
                        "name": "listing",
                        "in": "path",
                        "required": true,
                        "description": "The listing ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "operationId": "auth.requestOtp",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "minLength": 9,
                                        "maxLength": 15
                                    }
                                },
                                "required": [
                                    "phone"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 403
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "$whatsapp->sendOtp($phone, $otp);",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "otp_code": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "otp_code"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/auth/valid-otp": {
            "post": {
                "operationId": "auth.verifyOtp",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string"
                                    },
                                    "otp_code": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "phone",
                                    "otp_code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "description": "Create new token"
                                                },
                                                "fill_name": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "fill_name"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 404
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/fill-name": {
            "post": {
                "operationId": "auth.completeProfile",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "minLength": 2,
                                        "maxLength": 100
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "user": {
                                                    "$ref": "#/components/schemas/MemberProfileResource"
                                                }
                                            },
                                            "required": [
                                                "user"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "operationId": "auth.logout",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 200
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/password/login": {
            "post": {
                "operationId": "auth.login",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "login": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "Can be email or phone"
                                    }
                                },
                                "required": [
                                    "login",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "description": "Create new token"
                                                },
                                                "user": {
                                                    "$ref": "#/components/schemas/MemberProfileResource"
                                                },
                                                "fill_name": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "user",
                                                "fill_name"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 403
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "status": {
                                            "type": "integer",
                                            "const": 401
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "status"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/pay": {
            "get": {
                "operationId": "chargilyPay.redirect",
                "tags": [
                    "ChargilyPay"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "checkout_url": {
                                            "type": "string"
                                        },
                                        "payment_id": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "checkout_url",
                                        "payment_id"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/webhook": {
            "post": {
                "operationId": "chargilyPay.webhook",
                "tags": [
                    "ChargilyPay"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "status"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/success": {
            "get": {
                "operationId": "chargilyPay.success",
                "tags": [
                    "ChargilyPay"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "success"
                                        },
                                        "checkout_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "checkout_id"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/failed": {
            "get": {
                "operationId": "chargilyPay.failed",
                "tags": [
                    "ChargilyPay"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "false"
                                        },
                                        "checkout_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "checkout_id"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chatbot": {
            "get": {
                "operationId": "chat.index",
                "tags": [
                    "Chat"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ConversationResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "null"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "post": {
                "operationId": "chat.handle",
                "tags": [
                    "Chat"
                ],
                "responses": {
                    "200": {
                        "description": "6. Final response using ChatMessageResource with Envelope",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ChatMessageResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/listings/details": {
            "get": {
                "operationId": "details.index",
                "tags": [
                    "Details"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "features": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/FeatureResource"
                                                    }
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CategoryResource"
                                                    }
                                                },
                                                "near_places": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/NearPlaceResource"
                                                    }
                                                },
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/TypeResource"
                                                    }
                                                },
                                                "rent_durations": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/RentDurationResource"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "features",
                                                "categories",
                                                "near_places",
                                                "types",
                                                "rent_durations"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/listings/wilayas": {
            "get": {
                "operationId": "details.wilayas",
                "tags": [
                    "Details"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "wilayas": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/WilayaResource"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "wilayas"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/listings/cities": {
            "get": {
                "operationId": "details.cities",
                "tags": [
                    "Details"
                ],
                "parameters": [
                    {
                        "name": "wilaya_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "cities": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CityResource"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "cities"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/listings": {
            "get": {
                "operationId": "listing.listing.index",
                "tags": [
                    "Listing"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in title or description",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type_id",
                        "in": "query",
                        "description": "Property type id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "member_id",
                        "in": "query",
                        "description": "Owner member id",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "rent_duration_id",
                        "in": "query",
                        "description": "Rent duration type",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "wilaya_id",
                        "in": "query",
                        "description": "Filter by wilaya",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "city_id",
                        "in": "query",
                        "description": "Filter by city",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "category_ids[]",
                        "in": "query",
                        "description": "Filter by categories",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "feature_ids[]",
                        "in": "query",
                        "description": "Filter by features",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "near_place_ids[]",
                        "in": "query",
                        "description": "Filter by nearby places",
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "number_rooms",
                        "in": "query",
                        "description": "Minimum number of rooms",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "number_persons",
                        "in": "query",
                        "description": "Minimum number of persons",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_floor",
                        "in": "query",
                        "description": "Minimum floor",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "max_floor",
                        "in": "query",
                        "description": "Maximum floor",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "min_duration",
                        "in": "query",
                        "description": "User rent duration in months",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_ready",
                        "in": "query",
                        "description": "Property ready to move in",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is_negotiable",
                        "in": "query",
                        "description": "Price negotiable",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "min_price",
                        "in": "query",
                        "description": "Minimum price",
                        "schema": {
                            "type": "object"
                        },
                        "x-deepObject-style": "qs"
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum price",
                        "schema": {
                            "type": "object"
                        },
                        "x-deepObject-style": "qs"
                    },
                    {
                        "name": "min_surface",
                        "in": "query",
                        "description": "Minimum surface",
                        "schema": {
                            "type": "object"
                        },
                        "x-deepObject-style": "qs"
                    },
                    {
                        "name": "max_surface",
                        "in": "query",
                        "description": "Maximum surface",
                        "schema": {
                            "type": "object"
                        },
                        "x-deepObject-style": "qs"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Pagination size",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 4
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/PaginateResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/listings/{listing}": {
            "get": {
                "operationId": "listing.listing.show",
                "tags": [
                    "Listing"
                ],
                "parameters": [
                    {
                        "name": "listing",
                        "in": "path",
                        "required": true,
                        "description": "The listing ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ListingResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/auth/password/request-otp": {
            "post": {
                "operationId": "passwordReset.requestResetOtp",
                "summary": "Step 1: Request OTP for Password Reset",
                "tags": [
                    "PasswordReset"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "phone"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "$whatsapp->sendOtp($user->phone, $otp);",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "otp_code": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "otp_code"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/auth/password/verify-otp": {
            "post": {
                "operationId": "passwordReset.verifyReset",
                "summary": "Step 2: Verify OTP and provide access token",
                "tags": [
                    "PasswordReset"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string"
                                    },
                                    "otp_code": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "phone",
                                    "otp_code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "reset_token": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "reset_token"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/auth/password/store": {
            "post": {
                "operationId": "passwordReset.storeNewPassword",
                "summary": "Step 3: Set New Password (Authenticated via Token)",
                "tags": [
                    "PasswordReset"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "minLength": 8
                                    }
                                },
                                "required": [
                                    "password",
                                    "password_confirmation"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members/profile": {
            "get": {
                "operationId": "profile.show",
                "tags": [
                    "Profile"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MemberProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            },
            "put": {
                "operationId": "profile.update",
                "tags": [
                    "Profile"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MemberProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/profile/image": {
            "post": {
                "operationId": "profile.updateImage",
                "tags": [
                    "Profile"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateImageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MemberProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/profile/password": {
            "put": {
                "operationId": "profile.updatePassword",
                "tags": [
                    "Profile"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MemberProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/members/profile/verify-member": {
            "post": {
                "operationId": "profile.verifyMember",
                "tags": [
                    "Profile"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyMemberRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MemberProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/members/profile/verify-agent": {
            "post": {
                "operationId": "profile.verifyAgent",
                "tags": [
                    "Profile"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyAgentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                {
                                                    "type": "string"
                                                }
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MemberProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "anyOf": [
                                                {
                                                    "type": "null"
[...]
